{# templates/admin/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Zmień hasło{% endblock %}

{% block body %}
    <h1>Zmiana hasła</h1>

    {{ form_start(passwordForm) }}
    {{ form_row(passwordForm.currentPassword) }}
    {{ form_row(passwordForm.newPassword.first) }}
    {{ form_row(passwordForm.newPassword.second) }}
    <button class="btn btn-primary">Zmień hasło</button>
    {{ form_end(passwordForm) }}

    <a href="{{ path('admin_profile') }}" class="btn btn-link mt-3">Powrót do profilu</a>
{% endblock %}
